{% extends "app_recetas/padre.html" %}

{% load static %}

{% block contenido %}

<h3>¿Quien soy?</h3>

<h4>Mi nombre es Valeria Olivares, soy estudiante de programación. Cocinar no es mi fuerte ni tampoco algo que disfrute mucho hacer, esta página es ideal para mi ya que NUNCA sé que comer!
</h4>

<h4>Gracias por acompañarme en este camino!</h4>

<h3>Pero... pará... Y hoy... que comemos?</h3>

<div style="height: 60px;" class="indexDisplayBtn"><a href="{% url 'inicio' %}" class="btn btn-primary" id="recetasBtn">¡Volver al inicio!</a></div></div>


{% endblock %}