.navbar-nav {
    align-items: center;
    justify-content: flex-end; }
  
  .navbar {
    padding: 0px;
    margin: 0px; }      

  .container-fluid {
    background-color:#E3F976;
    padding: 20px;
    margin: 0;
    justify-content: flex-end; }
  
  .navbar-brand {
    font-size: xx-large;
    font-weight: bold; }
  
  .nav-item {
    font-size: large; }
  
  .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
    font-size: large;
    color: black;
    text-decoration: underline; }
  
  .navbar-nav lapse show {
    align-items: center;
    justify-content: center; }

body {
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
    margin-top: 150px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    text-align: justify;
    line-height: 1.3;
    text-decoration-line: none;
    letter-spacing: 0.5px;
    background-color: #71DDBC; 
}

/*INDEX */
.displaySection {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.tituloIndex {
    font-weight: bold;
    font-size: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.subtituloIndex {
    font-size: large;
    text-align: center;
    font-style: italic;
    margin-left: 200px;
    margin-right: 200px;
    padding: 10px;
}
.btn-primary {
    background-color: grey;
    border-color: grey;
    margin: 20px;
}

.btn-primary:hover {
    background-color: #E3F976;
    border-color: #E3F976;
    color: grey;
    margin: 20px;
    text-decoration: none;
}

footer {
  margin-top: 200 px;
  margin-bottom: 150 px;
}

main {
  margin: 10px;
  padding: 20px;
}

section {
  height: 590px;
}

.card-title{
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

h3 {
  padding: 50px;
}

#recetasCards {
  margin-top: 20 px;
  margin-bottom: 20px;
  padding-top: 20 px;
  padding-bottom: 20 px;
}

.card {
  margin-bottom: 10px;
}

.tabla {
    margin-left: 20px;
  }

.boton {
  margin-top: 20px;
}

.aBtn {
  border: none;
  text-decoration: none;
  color: white;
}